{% extends 'main/layout.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}
<section class="hero_contact">
    <div class="content_contact">
        <h1 class="h1_contact"> Контакты </h1>
        <p class="p_contact1"> +7 (965) 532 - 36 - 23</p>
        <p class="p_contact2"> is50_p.d.zaiceva@mpt.ru</p>
        <p class="p_contact3"> г.Москва, Нежинская улица, 7</p>
    </div>
    <iframe class="map_contact" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac408b4c867b3d36e56868a1d746ca963c533096098662935866cb534dbfe1b63&amp;source=constructor" width="900" height="500" frameborder="0"></iframe>
</section>
{% endblock %}
