{% extends 'main/layout.html' %}

{% block title %} О компании{% endblock %}

{% block content %}
<section class="hero">
    <div class="content">
        <h1>О компании</h1>
        <p>Главная наша миссия - предоставление независимой и объективной информации о видеоиграх.
            Мы понимаем, что для геймеров крайне важно получать достоверную информацию о продуктах, которые их интересуют.
            Наш сайт является местом, где игроки могут поделиться своими мнениями и оценками, а также узнать о новинках и трендах в игровой индустрии.</p>
        <a href="#" class="btn btn-danger">Узнать Подробнее</a>
    </div>
    <div class="images">
        {% load static %}
        <img src="{% static 'main/img/frog.png' %}" alt="frog">

    </div>
</section>
{% endblock %}
